.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: white;
	height: 90px;
}

.navbarNavigation {
	display: flex;
	align-items: center;
	height: 100%; 
	padding: 0 1rem;
	border-bottom: 2px solid #E9DCF4;
}

.navbarLogo a {
	text-decoration: none;
	color: black;
	padding: 25px;
}

.navbarImage {
	display: block;
	max-width:230px;
	max-height:35px;
	width: auto;
	height: auto;
	padding:10px;
}

.navbarItems ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.spacer {
	flex: 1;
}

.navbarItems a {
	text-decoration: none;
	color: black;
}

.navbarItems li {
	padding: 25px;
	font-size: 18px;

}

.navbarItems a:hover,
.navbarItems a:active{
	color: #AF2451;
	text-decoration: none;
}